
body {
    margin: auto;
    padding: auto;
    background: radial-gradient(50% 50% at 50% 50%, #EECEC3 0%, #FFF3ED 100%);
    overflow-x: hidden;
    ;
}

h1{
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 80px;

    
}

h5 {
    position: absolute;
    top: 240px;
    left: 225px;
    color: #CB836D;
    font-size: 27px;
}

h3{
    border-left:solid 2px rgba(241, 212, 75, 1);
    top: 320px;
    left: 200px;
    /* font-size: 50px; */
}

.boton {
        position: absolute;
        width: 230px;
        height: 60px;
        left: 200px;
        top: 500px;
        background: #CB836D;
        border-radius: 5px;
        color: white;
        border-style: none;
}

header {
    background-image:url(./Group\ 1.jpg);
    background-repeat: no-repeat;
    /* background-position: 305px; */
    background-size: cover;
    height: 772px;
    border: solid 2px #EECEC3;

    
}

.turno {
    margin-right: 20px; /* ajusta el valor a tu gusto */
    margin-bottom: 20px; /* ajusta el valor a tu gusto */
}


img {
    padding: 15px;
    position: relative;
    right: 40px;
}

h3{
    position: relative;
    right: 40px;
    size: 200px;
    

}
.menu {
    
    display:flex;
    margin: -50px;
    padding-left: 50px;
    /* border: solid 2px red; */
    align-items: center;
   /*  justify-content:center; */
}

.menu li {

display:inline-block ;
/* border: solid 2px green; */
}


.menu li a {
    
    text-decoration: none;
    padding: 15px;
    color: black;
    font-family: monospace;
    background-color: #CB836D;
}

.menu li :hover {
    color: white;
}

main {
    /* border: solid 4px black; */
    height: 600px;
}

section {
    display: inline-flex;
    
}

h2 {
    
    font-size: 35px;
    padding: 30px;
    left: 700px;
    margin-bottom: 50px;
    text-align: center;
    font-family:monospace;
    font-style: italic;
}


h4 {
    color: rgb(15, 15, 15);
    position: relative;
    top: 150px;
    text-align: center;

}

p {
    color: rgb(15, 15, 15);
    position: relative;
    top: 135px;
    font-size: small;
}








.contenedor {
    display: flex;
    justify-content: space-between;
    width: 1500px; /* se ajusta el ancho del contenedor */
    margin: 0 auto; /* centrar el contenedor en la página */
}


.card {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px !important;
    border: solid;
}

.card img {
    max-width: auto;
    height: auto;
    border-radius: 15px;
    margin-left: 90px;
    margin-bottom: -80px; /* Agrega margen inferior negativo para subir la imagen */
}

.card h4 {
    font-size: 1.8em;
    margin: 10px;
    padding-bottom: 30px;
    }

    .card p {
        font-size: 1.2em;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 20px;
        }

.card-text {
        height: 400px; /* Disminuye la altura del contenedor de texto */
        margin-top: -30px; /* Agrega margen superior negativo para acercar el texto a la imagen */
}


.logo-image {
    width: 150px;
    height: 150px;
}