*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
  }

body {
    margin: auto;
    padding: auto;
    background: radial-gradient(50% 50% at 50% 50%, #EECEC3 0%, #FFF3ED 100%);
    overflow-x: hidden;
    ;
}

h1{
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 80px;

    
}

h5 {
    position: absolute;
    top: 240px;
    left: 225px;
    color: #CB836D;
    font-size: 27px;
}

h3{
    border-left:solid 2px rgba(241, 212, 75, 1);
    top: 320px;
    left: 200px;
    /* font-size: 50px; */
}

.boton {
        position: absolute;
        width: 230px;
        height: 60px;
        left: 200px;
        top: 560px;
        background: #EECEC3;
        border-radius: 5px;
        color: white;
        border-style: none;

}
.boton:hover {
    background-color:#c88974;
}

.boton1:hover {
    background-color:#c88974;
}

header {
    background-image:url(./Group\ 1.jpg);
    background-repeat: no-repeat;
    /* background-position: 305px; */
    background-size: cover;
    height: 772px;
    border: solid 2px #EECEC3;

    
}

.turno {
    margin-right: 20px; /* ajusta el valor a tu gusto */
    margin-bottom: 20px; /* ajusta el valor a tu gusto */
}


.img1 {
    padding: 15px;
    position: relative;
    right: 40px;
}

h3{
    position: relative;
    right: 40px;
    size: 200px;
    

}
.contenedor{
    position: absolute;
    top: 10px;
    margin-top: 2%;
    margin-left: 2%;
  }
  
  .menu {
      
    display:flex;
    margin: -30px;
    padding-left: 50px;
    /* border: solid 2px red; */
    align-items: center;
   /*  justify-content:center; */
  }


.menu li {

display:inline-block ;
/* border: solid 2px green; */
}


.menu li a {
    
    text-decoration: none;
    padding: 15px;
    color: black;
    font-family: monospace;
    background-color: #CB836D;
}

.menu li :hover {
    color: white;
}

main {
    /* border: solid 4px black; */
    height: 4700px;
}

section {
    display: inline-flex;
    
}

h2 {
    
position: relative;
width: 394px;
height: 76px;
left: 430px;
top: 10px;
/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 76px;
text-align: center;

}






h4 {
    color: rgb(15, 15, 15);
    position: relative;
    top: 150px;
    text-align: center;

}

p {
    color: rgb(15, 15, 15);
    position: relative;
    top: 135px;
    font-size: small;
}








.contenedor-2 {
    display: flex;
    justify-content: space-around;
    width: auto; /* se ajusta el ancho del contenedor */
    margin:auto ; /* centrar el contenedor en la página */
    
}


.card {
    height: 380px;
    width: 250PX;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px !important;
    border: solid #EECEC3;


    }

.card img {
    /*  max-width: auto;
    height: auto; */
    /* border: solid 1px black; */
    border-radius: 15px;
    margin-left: 30px;
    margin-bottom: -20px; /* Agrega margen inferior negativo para subir la imagen */  
    width: 250px;
    height: 280px;  
    

}

.card h4 {
    top: 75px;
    color: #CB836D;
    font-size: 25px;
    top: 25px;
    text-shadow: #CB836D;

    
    
}

    .card p {
        font-size: 1.01em;
        line-height: 1.3;
        margin-top: 0;
        margin-bottom: 20px;
        color: black;
        text-align: center;
        top: 45px;
        }

.card-text {
        height: 400px; /* Disminuye la altura del contenedor de texto */
        margin-top: -30px; /* Agrega margen superior negativo para acercar el texto a la imagen */
}


.logo-image {
    width: 125px;
    height: 200px;
    position: relative;
    left:30px;
    top: 10px;
}

.texto1 {
    position: absolute;
    width: 1140px;
    height: 64px;
    left: 70px;
    top: 1600px;

    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #112734;;
}

.img11 {
    position: absolute;
    width: 300px;
    height: 400px;
    left: 120px;
    top: 1800px;
    
    background: url(.jpg), #C4C4C4;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

}

.parrafo1 {
    position: absolute;
    width: 532px;
    height: 75px;
    left: 600px;
    top: 1750px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.08em;
    color: #A6525B;


}

.card2{
    position: absolute;
    left: 600px;
    top: 1900px;
    width: 554px;
    height: 459px;
    background: #FFFFFF;
    border-radius: 15px 15px 15px 0px;

}

.img-1 {
    position: absolute;
    height: 297px;
    width: 555px;
    left: -15px;
    top: -24px;
    border-radius: 15px;
    
   
}

.img-2 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: -5px;
    top: 290px;
}

.texto2 {
    position: absolute;
left: 11.55%;
right: 48.92%;
top: 270px;
bottom: 25.05%;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

color: #112734;
}

.parrafo2 {
    position: absolute;
left: 2.17%;
right: 32.67%;
top: 76.69%;
bottom: 18.52%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: rgba(17, 39, 52, 0.7);
}

.img-3 {
    position: absolute;
left: -5px;
right: 32.67%;
top: 390px;
bottom: 18.52%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: rgba(17, 39, 52, 0.7);
}

.texto3 {
    position: absolute;
left: 13%;
right: 65.52%;
top: 88%;
bottom: 5.01%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: rgba(17, 39, 52, 0.7);
}

.texto4 {
    position: absolute;
left: 85.38%;
right: 3.25%;
top: 64%;
bottom: 28.54%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: rgba(17, 39, 52, 0.7);
}

.img-4 {
    position: absolute;
    left: 420px;
    
    top: 390px;
    bottom: 3.49%;
    /* background: #CB836D; */

}

.texto-5 {

    position: absolute;
    left: 480px;
    
    top: 86%;
    
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: rgba(17, 39, 52, 0.7);
    }

    .video1 {
        position: absolute;
        top: 600px;
        right:600px; 
        width: 350px;
        height: 500px;
        border-radius:25px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        
        
        
    }
    .texto6 {

        position: absolute;
        left: 100px;
        top:550px;
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 64px;
        text-align: center;
        color: #A6525B;
        
        


}

.lista1 {

    
    position: absolute;
    top:620px;
    left: 100px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    color: #112734;

    
    
}

.texto7 {
position: absolute;
width: 1136px;
height: 76px;
left: -500px;
top: 1180px;
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 76px;
text-align: center;
color: #000000;
}

.img-5 {
    position: absolute;
width: 555px;
height: 354px;
left: -580px;
top: 1400px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}


.img-6 {
    position: absolute;
width: 555px;
height: 354px;
left: 20px;
top: 1400px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.texto8 {
    position: absolute;
    width: 1136px;
    height: 76px;
    left: -500px;
    top: 1800px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    color: #000000;
    }

.img-7 {
    position: absolute;
    width: 350px;
    height: 354px;
    left: -550px;
    top: 2000px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* border:solid 1px pink ; */
    border-radius: 12px;
    
}

.img-8 {
    position: absolute;
    width: 350px;
    height: 354px;
    left: -150px;
    top: 2000px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
   /*  border:solid 1px pink ; */
    border-radius: 12px;
    border-radius: 12px;
    
}

.img-9 {
    position: absolute;
    width: 350px;
    height: 354px;
    left: 250px;
    top: 2000px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* border:solid 1px pink  */;
    
}

.texto9 {
    position: absolute;
    width: 1136px;
    height: 76px;
    left: -500px;
    top: 2420px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    color: #000000;
    }

    .subtitulo{
        font-family: 'Montserrat';
        font-style: normal;
        position: absolute;
        top: 45%;
        left: 15%;
        font-weight: 400;
        font-size: 25px;
        color: rgba(11, 25, 33, 0.7);
        border-left:solid 1.5px yellow;
        text-align: left;
      
      }
      .subtitulo1{
        font-family: 'Montserrat';
        font-style: normal;
        position: absolute;
        top: 50%;
        left: 15%;
        font-weight: 400;
        font-size: 25px;
        color: rgba(11, 25, 33, 0.7);
        border-left:solid 1.5px yellow;
        text-align: left;
      
      }

    .img-claudia {
        position: absolute;
    width: 250px;
    height: 254px;
    left: -590px;
    top: 2650px;
    box-shadow: 0 2px 4px rgba(0, 15, 0, 0.5);
   /*  border:solid 1px pink ; */
    border-radius: 50%;
    
}

.claudia {
    position: absolute;
    left: -540px;
    top: 2930px;
    font-family: monospace;
    font-size: large;
    text-align: center;

}

.img-claudia:hover {

    background: #4b4b4b;
    transform: scale(1.1);
    

}

.img-ruben {
    position: absolute;
width: 250px;
height: 254px;
left: -330px;
top: 2650px;
box-shadow: 0 2px 4px rgba(0, 15, 0, 0.5);
/*  border:solid 1px pink ; */
border-radius: 50%;

}

.ruben {
    position: absolute;
    left: -310px;
    top: 2930px;
    font-family: monospace;
    font-size: large;
    text-align: center;
}



.img-ruben:hover {

    background: #4b4b4b;
    transform: scale(1.1);
    

}

.img-natacha {
    position: absolute;
width: 250px;
height: 254px;
left: -70px;
top: 2650px;
box-shadow: 0 2px 4px rgba(0, 15, 0, 0.5);
/*  border:solid 1px pink ; */
border-radius: 50%;

}
.img-natacha:hover {

    background: #4b4b4b;
    transform: scale(1.1);
    

}

.natacha {
    position: absolute;
    left: 1px;
    top: 2930px;
    font-family: monospace;
    font-size: large;
    text-align: center;
}


.img-leandro {
    position: absolute;
width: 250px;
height: 254px;
left: 190px;
top: 2650px;
box-shadow: 0 2px 4px rgba(0, 15, 0, 0.5);
/*  border:solid 1px pink ; */
border-radius: 50%;

}
.img-leandro:hover {

    background: #4b4b4b;
    transform: scale(1.1);
    

}
.leandro {
    position: absolute;
    left: 210px;
    top: 2930px;
    font-family: monospace;
    font-size: large;
    text-align: center;
}

.img-fernando {
    position: absolute;
width: 250px;
height: 254px;
left: 445px;
top: 2650px;
box-shadow: 0 2px 4px rgba(0, 15, 0, 0.5);
/*  border:solid 1px pink ; */
border-radius: 50%;

}

.img-fernando:hover {

    background: #4b4b4b;
    transform: scale(1.1);
    

}
.fernando {
    position: absolute;
    left: 520px;
    top: 2930px;
    font-family: monospace;
    font-size: large;
    text-align: center;
}

.texto10 {
    position: absolute;
    width: 1136px;
    height: 76px;
    left: -900px;
    top: 3200px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    color: #000000;
    }
    .img-11 {
        position: absolute;
        width: 555px;
        height: 354px;
        left: 30px;
        top: 3200px;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        /* border:solid 1px pink  */;
        
    }
    .texto11{
    position: absolute;
    left: -470px;
    top: 3400px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(17, 39, 52, 0.7);
    border-left:solid 1.5px yellow;
    
    }
    
    
    
    .boton1 {
        position: absolute;
        width: 230px;
        height: 60px;
        left: -470px;
        top: 3500px;
        background: #EECEC3;
        border-radius: 5px;
        color: white;
        border-style: none;
}

footer {
    
    width: 1442px;
    height: 530px;
    background: #CB836D;

}

.texto12    {    
position: absolute;
width: 219.86px;
height: 41.84px;
left: 100.66px;
top: 5550px;
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
line-height: 57px;
color: #FFF9F5;
font-size: 48px;


}

.texto13{
    position: absolute;
    left: 135.66px;
    top: 5680px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    color: rgba(17, 39, 52, 0.7);
    border-left:solid 1.5px yellow;
    
    }

    .texto14 {
        
    position: absolute;
    left: 135.66px;
    top: 5780px;
    font-size: 25px;
    border: none;
    color: white;
    }

    .texto15 {
        
        position: absolute;
        left: 135.66px;
        top: 5820px;
        font-size: 25px;
        border: none;
        color: white;
        font-size: medium;
        }

        .texto16 {
        
            position: absolute;
            left: 470.66px;
            top: 6015px;
            font-size: 25px;
            border: none;
            color:black;
            font-size: medium;
            }

    .texto17 {
        
        position: absolute;
        left: 800.66px;
        top: 5780px;
        font-size: 25px;
        border: none;
        color: white;
        }
 
        .texto18 {
        
            position: absolute;
            left: 800.66px;
            top: 5830px;
            font-size: 25px;
            border: none;
            color: white;
            font-size: medium;
            }
            .texto19 {
        
                position: absolute;
                left: 800.66px;
                top: 5890px;
                font-size: 25px;
                border: none;
                color: white;
                
                }
                .texto20 {
        
                    position: absolute;
                    left: 800.66px;
                    top: 5935px;
                    font-size: 25px;
                    border: none;
                    color: white;
                    font-size: medium;
                    }

.img-12 {
    position: absolute;
        width: 250px;
        height: 194px;
        left: 720px;
        top: 5560px;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}