/* *{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
  } */
  
:root{
    /* Palette */
    --color-primario: #F0C0A9;
    --color-secundario: #CB836D;
    --color-acento: #86968B;
    --tipography-light: #FFF9F5;
    --tipography-dark: #0E0E0E;
    --background-light: #0E0E0E;

    /* Fonts */
    /* --base-font: 'Abhaya Libre', serif;
    --alternative-font: 'Montserrat', sans-serif; */
    
    --font-H2: 3.8em;
    --font-H3: 3.6em;
    --font-bodylarge: 2.4em;
    --font-bodymedium: 1.8em;
    --font-labelmedium: 1.6em;
    --font-labelsmall: 1.4em;
 
    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem; 
}


/* <style>
  @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap');
</style> */

/* <style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
</style> */

html{
    font-size: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #EECEC3 0%, #FFF3ED 100%);
}

 ul{
    list-style-type: none;
}

.container {
    position: absolute;
    top: 150px;
    max-width: 1240px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-height: 1000px;
}

.slider{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    max-height: 800px;
}

.slider__title{
    display: flex;
    font-family: var(--base-font) ;
    font-size: var(--font-H2);
    justify-content: center;
    color: var(--tipography-dark);
}

.slider__items{
    display: flex;
    gap: var(--spacing-28);
}

.card-item__staff{
    height: 360px;
    width: 320PX;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: solid #EECEC3;
}

.card-item__cover{
    display: flex;
    justify-content: center;
}

.card-item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__title{
    display: flex;
    font-family: var(--base-font);
    font-size: var(--font-H3);
    color: var(--color-secundario);
    margin: 4px;
    align-items: center;
    justify-content: center;
}

.card-item__time{
    font-family: var(--alternative-font);
    font-size: var(--font-bodymedium);
    color: var(--tipography-dark);
    margin: 4px;
}

.card-item__price{
    font-family: var(--alternative-font);
    font-size: var(--font-bodymedium);
    color: var(--tipography-dark);
    margin: 4px;
}

/* body {
    background: #f0c0a999;
    overflow-x: hidden;
} */

header {
    /* background-image:url(./Group\ 1.jpg);
    background-repeat: no-repeat; */
    /* background-position: 305px; */
 
    height: 1180px;
    border: solid 2px #EECEC3;
    width: auto;
    margin: auto;
}



.logo-image {
    width: 125px;
    height: 200px;
    position: relative;
    left:30px;
    top: 10px;
}


.menu li {

    display:inline-block ;
    /* border: solid 2px green; */
    }
    
    
    .menu li a {
        
        text-decoration: none;
        padding: 15px;
        color: black;
        font-family: monospace;
        background-color: #CB836D;
    }
    
    .menu li :hover {
        color: white;
    }

    
    section {
        display: inline-flex;
        
    }

.menu {
    
    display:flex;
    margin: -30px;
    padding-left: 50px;
    /* border: solid 2px red; */
    align-items: center;
   /*  justify-content:center; */
}


footer {
    
    
   
    bottom:500px;
    width: 1260px;
    height: 530px;
    background: #CB836D;
    overflow-x: hidden;

}

.texto12    {    position: absolute;
width: 219.86px;
height: 41.84px;
left: 135.66px;
top: 1200px;
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
line-height: 57px;
color: #FFF9F5;
font-size: 48px;


}

.texto13{
    position: absolute;
    left: 135.66px;
    top: 1280px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    color: rgba(17, 39, 52, 0.7);
    border-left:solid 1.5px yellow;
    
    }

    .texto14 {
        
    position: absolute;
    left: 135.66px;
    top: 1380px;
    font-size: 25px;
    border: none;
    color: white;
    }

    .texto15 {
        
        position: absolute;
        left: 135.66px;
        top: 1430px;
        font-size: 25px;
        border: none;
        color: white;
        font-size: medium;
        }

        .texto16 {
        
            position: absolute;
            left: 470.66px;
            top: 1670px;
            font-size: 25px;
            border: none;
            color:black;
            font-size: medium;
            }

    .texto17 {
        
        position: absolute;
        left: 800.66px;
        top: 1380px;
        font-size: 25px;
        border: none;
        color: white;
        }
 
        .texto18 {
        
            position: absolute;
            left: 800.66px;
            top: 1430px;
            font-size: 25px;
            border: none;
            color: white;
            font-size: medium;
            }
            .texto19 {
        
                position: absolute;
                left: 800.66px;
                top: 1480px;
                font-size: 25px;
                border: none;
                color: white;
                
                }
                .texto20 {
        
                    position: absolute;
                    left: 800.66px;
                    top: 1530px;
                    font-size: 25px;
                    border: none;
                    color: white;
                    font-size: medium;
                    }

.img-12 {
    position: absolute;
        width: 250px;
        height: 194px;
        left: 730px;
        top: 1200px;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.contenedor{
    margin-top: 2%;
    margin-left: 2%;
  }
  main  {
    position: absolute;
    top: 200px;
    height: 200px;
    width: 1200px;
} 


  .titulo-formulario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5%;
    height: 200px;
    width: 1200px;
    flex:1;
    margin-right: 30px;
    position: absolute;
  }
  
  .titulo{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    color: #000000;
    font-size: 48px;
    border-left:solid 1.5px yellow;
  }

  .subtitulo{
    font-family: 'Montserrat';
    font-style: normal;
    position: absolute;
    top: 55%;
    left: 5%;
    font-weight: 400;
    font-size: 25px;
    color: rgba(17, 39, 52, 0.7);
    border-left:solid 1.5px yellow;

  }


  h1 {
    
    position: absolute;
    top: 25%;
    left: 5%;
    color: black;
    height: 200px;
    width: 1200px;
} 


