*{
  margin: 20;
  padding: 20;
  box-sizing: border-box;
}

body {
  background-image: url(https://cdn1.treatwell.net/images/view/v2.i7396984.w720.h480.x15C212F7/);
}

#step-2 {
  display: none;
}


#summary {
  border: 1px solid #ccc;
  padding: 10px;
}

.form1{
  width: 600px;
  background: #52203c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;


}

.input{
  width: 100%;
  background: #233322;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-size: 18px;
  color: white;
}

.siguiente{
  width: 20%;
  background: #1f53c5;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  margin: 16px;

}


.form2{
  width: 600px;
  background: #52203c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;


}

.botones{
  margin-top: 20px;
  line-height: 20px;
  
}

.boton1{
  width: 20%;
  background: #cc5709;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  /* margin: 16px; */
}

.boton2{
  width: 20%;
  background: #2e9221;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  /* margin: 16spx; */
}

.boton3{
  width: 20%;
  background: #1f53c5;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  /* margin: 16px; */
}

.boton4{
  width: 20%;
  background: #1f53c5;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  /* margin: 16px; */
}
