*{
  margin: 20;
  padding: 20;
  box-sizing: border-box;
}

body {
  background-image: url(/images/Group1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.body img{



}

#step-2 {
  display: none;
}


#summary {
  border: 1px solid #ccc;
  padding: 10px;
}

.form1{
  width: 700px;
  background: #cb836d;
  opacity: 0.9;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #000;
  /* Nuevas propiedades CSS para centrar */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -80%);


}
.form1 select{
  color: black;
}

.form1 input{
  color: black;
}

.input{
  width: 100%;
  background: white;
  opacity: 0.95;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-size: 18px;
}

.input::placeholder {
  color: #cb836d;
}

.siguiente{
  width: 20%;
  background: #1f53c5;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  margin: 16px;

}



.form2{
  width: 600px;
  background: #cb836d;
  opacity: 0.9;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: black;
  font-size: 30px;
  box-shadow: 7px 13px 37px #000;
  /* Nuevas propiedades CSS para centrar */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -80%);


}

.botones{
  margin-top: 20px;
  line-height: 20px;
  width: 100%;
  overflow: hidden; /* Clearfix para limpiar floats */
  
}

.botones1 {
  float: left;
}

.botones2 {
  float: right;
}

.boton1{ 
  background: #db3908;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  /* margin: 16px; */
}

.boton2{
  background: #2e9221;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  /* margin: 16spx; */
}

.boton3{
  background: #1f53c5;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  /* margin: 16px; */
}

.boton4{
  background: #1f53c5;
  border: none;
  border-radius: 3px;
  padding: 12px;
  color: white;
  /* margin: 16px; */
}










.logo-image {
  width: 125px;
  height: 200px;
  position: relative;
  left:30px;
  top: 10px;
}


.titulo-formulario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5%;
}

.titulo{
  flex:1;
  margin-right: 30px;
}




h1{
  position: relative;
  margin-left: 5%;
  font-size: 80px;
}

h2{
  position: relative;
  margin-left: 5%;
}

.contenedor{
  margin-top: 2%;
  margin-left: 2%;
}

.menu {
    
  display:flex;
  margin: -50px;
  padding-left: 50px;
  /* border: solid 2px red; */
  align-items: center;
 /*  justify-content:center; */
}

.menu li {

display:inline-block ;
/* border: solid 2px green; */
}


.menu li a {
  
  text-decoration: none;
  padding: 15px;
  color: black;
  font-family: monospace;
  background-color: #CB836D;
}

.menu li :hover {
  color: white;
}

